@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
}

ul{
    /* display: none; */
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: #000;
    margin: 0;

}

li{
    display:inline-block;
    margin-inline: 0.5rem;
}

li a{
    color: white;
    text-decoration:none;
}

li a:hover, li a:focus{
    text-decoration: underline;

}